:root {
  --color-body: hsl(228, 12%, 48%);
  --color-primary: hsl(158, 36%, 37%);
  --border-radius: 15px;
}

body {
  background-color: hsl(30, 38%, 92%);
  color: var(--color-body);
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  line-height: 1.15;
}

h1,
h3 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h1 {
  color: hsl(212, 21%, 14%);
  font-size: 4rem;
  font-family: "Fraunces", serif;
}

h3 {
  font-size: 1.4rem;
  font-weight: 100;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

@media screen and (min-width: 1440px) {
  h3 {
    margin-top: 3rem;
  }
}

/* Card */

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: var(--border-radius);
  margin: 1rem;
  padding-bottom: 2rem;
  width: 50%;
}

.card__body {
  padding-left: 2rem;
  padding-right: 2rem;
}

.card__image-mobile {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  width: 100%;
}

.card__image-desktop {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  width: 100%;
  display: none;
}

.card__text {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 1440px) {
  .card {
    padding: 0;
  }
  .card__image-mobile {
    display: none;
  }
  .card__image-desktop {
    display: flex;
  }
}

/* Grid */
.grid {
  display: grid;
}

@media screen and (min-width: 1440px) {
  .grid--cols2 {
    grid-template-columns: 1fr 1fr;
  }
}

/* Badge */
.badge {
  background-color: hsl(0, 0%, 100%);
  padding: 0.5rem 0.5rem;
  border-radius: var(--border-radius);
  white-space: nowrap;
}

.badge--container {
  margin-bottom: 2rem;
  display: block;
}

.badge--primary {
  color: var(--color-primary);
  font-size: 4rem;
  font-weight: 600;
}

.badge--small {
  font-size: 1.6rem;
  text-decoration: line-through;
}
